<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express!</title>
</head>
<body>
    <main>
        <h1>Express isn't that hard, really</h1>
        <h3>Dynamic Content Here</h3>
        <hr>
            {{!-- handlebars will render its views here --}}
            {{{ body }}}
        <hr>
        {{!-- testing linking to other view files (pages) --}}
        <a href="users">GO TO USERS</a>
        <a href="/">GO TO HOME</a>
    </main>
</body>
</html>